@font-face {
  font-family: "Pokemon Solid";
  font-style: normal;
  font-weight: 400;
  src: url("@/assets/fonts/pokemon-solid.woff") format("woff");
}

$main-font: "Open Sans", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$pokemon-font: "Pokemon Solid", sans-serif;
